// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

// =============================================================================
// Media
// =============================================================================
//больше 1920
@mixin wide {
	@media screen and (min-width: 1921px) {
		@content;
	}
}

// ниже 1600
@mixin desktop {
  @media screen and (max-width: 1599px) {
    @content;
  }
}

// ниже 1280
@mixin laptop {
  @media screen and (max-width: 1279px) {
    @content;
  }
}

// ниже 1024
@mixin medium {
	@media screen and (max-width: 1023px) {
		@content;
	}
}

// ниже 780
@mixin tablet {
  @media screen and (max-width: 779px) {
    @content;
  }
}

// ниже 360
@mixin phone {
  @media screen and (max-width: 359px) {
    @content;
  }
}

// =============================================================================
// Mixin for fonts adaptive
// =============================================================================

@mixin font($fontFamily, $size, $lineHeight, $weight) {
  font-family: $fontFamily, sans-serif;
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $weight;
}

@mixin fontAdaptive($size, $lineHeight, $weight: null) {
  font-size: $size;
  line-height: $lineHeight;
  @if ($weight) {
    font-weight: $weight;
  }
}

// =============================================================================
// Others
// =============================================================================
