:root {
    // =============================================================================
    // Margins and paddings
    // =============================================================================
  
    --header-height: 125px;
  
    // =============================================================================
    // Delays
    // =============================================================================
    
    --main-hover-delay-faster: .1s;
    --main-hover-delay-medium: .2s;
    --main-hover-delay: .3s;
    --delay-05s: .5s;
    --delay-2s: 2s;
  
    // =============================================================================
    // Colors
    // =============================================================================
    --color-background: 253, 232, 233;
    --color-background-dark: 227, 186, 198;
    --color-main: 89, 100, 117; // #596475
    --color-main-light: 188, 158, 193;
    --color-white: 255, 255, 255;
    --color-grey: 130, 130, 130; // #828282
    --color-grey-lighter: 189, 189, 189; // #bdbdbd
    --color-grey-shadow: 178, 178, 178;
    --color-grey-border: 224, 224, 224;
    --color-grey-border-pre-middle: 235, 235, 235;
    --color-grey-border-middle: 229, 234, 239;
    --color-grey-border-lighter: 242, 242, 242;
    --color-grey-background: 236, 248, 250;
    --color-red: 255, 0, 0;
    --color-black: 31, 34, 50;
    --color-black-full: 0, 0, 0;
  
    // =============================================================================
    // Shadow(box-shadow)
    // =============================================================================
  
    --shadow-banner: linear-gradient(0deg, var(--color-fade) 0%, rgba(232, 232, 232, 0.00) 49.28%);
  
    // =============================================================================
    // Filter
    // =============================================================================
  
  
    --z-hidden: -100;
    --z-background: -1;
    --z-bottom: 1;
    --z-pre-middle: 20;
    --z-middle: 30;
    --z-default: 50;
    --z-up: 60;
    --z-100: 100;
    --z-200: 200;
    --z-500: 500;
    --z-pre-top: 900;
    --z-top: 1000;
    --z-1200: 1200;
    --z-1300: 1300;
    // =============================================================================
    // Fonts
    // =============================================================================
  
    --font-roboto: Roboto, sans-serif;
    --font-montserrat: Montserrat, sans-serif;
  }