@import './_vars';
@import './_mixins';
@import './_fonts';

// Common styles
html {
  overflow-x: hidden;
}
body {
  min-width: 100px;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include font("Roboto", 16px, 19.92px, 400);
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-black));
  padding-top: calc(var(--header-height) + 55px);
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  overscroll-behavior: none;
}

/* Убираем внутренние отступы */
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;

  &:not([class]){
    padding: initial;
    margin: initial;
  }
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.title1,
li {
  margin: 0;
}

h3 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 23px;
}

/* Элементы a, у которых есть атрибут class, сбрасываем до дефолтных стилей */
a {
  &:not(.text-decoration) {
    text-decoration: none;
  }
  &:not([class]) {
    color: rgb(var(--color-main));
  }
}

/* Упрощаем работу с изображениями */
img {
  width: 100%;
  height: 100%;
  display: block;
}

iframe {
  width: 100%;
  height: 100%;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;

  &:focus,
  &:active {
    outline: none;
  }
}

textarea {
  resize: none;
  display: block;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
  padding: 0;
}
// End common styles
@import './imports';

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.template-container {
  width: 1300px;
  margin: 0 auto;
}
@include desktop {
  .template-container {
    width: 1100px;
  }
}
@include laptop {
  .template-container {
    width: 100vw;
    padding: 0 30px
  }
}
@include tablet {
  .template-container {
    padding: 0 20px;
  }
}