.checkbox {
    &__input {
        display: none;
        &:checked {
            ~ .checkbox {
                &__label::after {
                    transform: scale(1);
                }
            }
        }
    }
    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        column-gap: 10px;
        &::before {
            content: "";
            width: 18px;
            height: 18px;
            background-color: rgb(var(--color-white));
            flex-shrink: 0;
            border-radius: 3px;
            border: 1px solid rgb(var(--color-grey-lighter));
            align-self: flex-start;
        }
        &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: rgb(var(--color-main));
            left: 4px;
            top: 4px;
            border-radius: 3px;
            transform: scale(0);
            transition: transform var(--main-hover-delay);
        }
    }
}